body {
    /*font-family: 'Ultra', serif;
    font-family: 'Special Elite', cursive;
    font-family: 'VT323', monospace;*/
    font-family: 'Rye', cursive;
    background-image: url(images/background.jpg);
};
